# ant-specific
dist/
build/

# netbeans-specific
**/nbproject/private/
# TODO the following is more strict, but would force people to load the project
# in NetBeans to regenerate some files. This would prevent people from
# building directly with Ant.
#nbproject/*
#!nbproject/project.properties
#!nbproject/project.xml

Gui/opensim/nbproject/platform.xml
Gui/opensim/nbproject/genfiles.properties
Gui/opensim/build_version.properties

# general back-up files
*~

# OpenSim
AppState.xml
err.log
out.log
*.swp
/OpenSimAPI-install/sdk/Java/org/opensim/modeling/*.class
/Gui/opensim/modeling/src/org/opensim/modeling/*.class

# Mac.
.DS_Store
