# ant-specific
dist/
build/

# netbeans-specific
**/nbproject/private/
# TODO the following is more strict, but would force people to load the project
# in NetBeans to regenerate some files. This would prevent people from
# building directly with Ant.
#nbproject/*
#!nbproject/project.properties
#!nbproject/project.xml

# general back-up files
*~
