[submodule "opensim-models"]
	path = opensim-models
	url = https://github.com/opensim-org/opensim-models
[submodule "opensim-visualizer"]
	path = opensim-visualizer
	url = https://github.com/opensim-org/opensim-visualizer
	branch = opensim-gui
[submodule "Gui/opensim/threejs"]
	path = Gui/opensim/threejs
	url = https://github.com/opensim-org/three.js
	branch = tweak_default_scene
[submodule "Gui/opensim/opensim-viewer"]
	path = Gui/opensim/opensim-viewer
	url = https://github.com/opensim-org/opensim-viewer
	branch = gui_embed
