[Desktop Entry]
Version=1.0
Type=Application
Name=OpenSim
Comment=OpenSim is an open source software for neuromusculoskeletal modeling, simulation and analysis.
Path=/opt/opensim
# TryExec=/opt/opensim-gui/bin/OpenSim
Exec=/opt/opensim/bin/OpenSim
Icon=opensim
Terminal=false
Categories=Science;Education
