[Desktop Entry]
Version=1.0
Type=Application
Name=OpenSim
Comment=Neuromusculoskeletal modeling, simulation, and analysis.
Path=/opt/opensim-gui
Exec=bash /opt/opensim-gui/bin/opensim
Icon=opensim
Terminal=false
Categories=Science;Education;
