name: opensim-application

on: [push, pull_request]

jobs:
  windows:
    name: Windows

    runs-on: windows-latest

    steps:
    - name: Install opensim-core
      run: |
        (New-Object System.Net.WebClient).DownloadFile("https://prdownloads.sourceforge.net/myosin/github-actions/opensim-core/opensim-core-win.zip", "opensim-core-win.zip")
        7z x opensim-core-win.zip -oC:\\
        dir C:\\opensim-core
    - name: Checkout opensim-gui
      uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install Netbeans
      # Make sure the NetBeans installer is not corrupted.
      run: |
        (New-Object System.Net.WebClient).DownloadFile("https://download.netbeans.org/netbeans/8.2/final/bundles/netbeans-8.2-javase-windows.exe", "netbeans-8.2-javase-windows.exe")
        $expectedHash = "7b0646306a7488e617837da1517a86c08b7cf6fbe4dd9d74e8a4564b5ffde004".ToUpper()
        $hashFromFile = Get-FileHash -Algorithm SHA256 -Path .\netbeans-8.2-javase-windows.exe
        if (($hashFromFile.Hash) -ne ($expectedHash)) { Write-Error "Hash doesn't match." }
        .\netbeans-8.2-javase-windows.exe --silent | Out-Null # This installer is gregarious.
        echo "::set-env name=ANT_HOME:C:\\Program Files\\NetBeans 8.2\\extide\\ant"
        
    - name: Update submodules
      run: git submodule update --init --recursive -- opensim-models opensim-visualizer Gui/opensim/threejs
      
    - name: Build GUI
      id: build-gui
      run: |
        mkdir build
        cd build
        cmake ../ -G"Visual Studio 16 2019" -A x64 -DCMAKE_PREFIX_PATH=C:\\opensim-core -DANT_ARGS="-Dnbplatform.default.netbeans.dest.dir=C:/Program Files/NetBeans 8.2;-Dnbplatform.default.harness.dir=C:/Program Files/NetBeans 8.2/harness"
        cmake --build . --target CopyOpenSimCore --config Release
        cmake --build . --target CopyModels --config Release
        cmake --build . --target PrepareInstaller --config Release
        cmake --build . --target CopyJRE --config Release
        cmake --build . --target CopyVisualizer --config Release
        # Read the value of the cache variable storing the GUI build version.
        $env:match = cmake -L . | Select-String -Pattern OPENSIMGUI_BUILD_VERSION
        $version = $env:match.split('=')[1]
        echo $version
        echo "::set-env name=VERSION::$version"
        echo "::set-output name=version::$version"
    - name: Build GUI installer
      run: |
        cd Gui/opensim/dist/installer
        makensis.exe make_installer.nsi
        mv OpenSim-${{ steps.build-gui.outputs.version }}-win64.exe $env:GITHUB_WORKSPACE
    - name: Upload GUI installer
      uses: actions/upload-artifact@v1.0.0
      with:
        name: OpenSim-${{ steps.build-gui.outputs.version }}-win64
        path: OpenSim-${{ steps.build-gui.outputs.version }}-win64.exe

  mac:
    name: Mac

    runs-on: macos-latest

    steps:
    - name: Install opensim-core
      run: |
        wget https://prdownloads.sourceforge.net/myosin/github-actions/opensim-core/opensim-core-mac.zip
        # -q: quiet
        unzip -q opensim-core-mac.zip -d ~
    - name: Checkout opensim-gui
      uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install Netbeans and Ant
      # Cask 'netbeans' gives version 11.2, while 'netbeans-java-se' gives 8.2.
      run: |
        brew install ant
        brew cask install netbeans-java-se
    - name: Update submodules
      run: git submodule update --init --recursive -- opensim-models opensim-visualizer Gui/opensim/threejs

    - name: Build GUI
      id: build-gui
      run: |
        mkdir build
        cd build
        # TODO: Do not hard-code NetBeans version.
        # TODO: Could download from https://download.netbeans.org/netbeans/8.2/final/bundles/netbeans-8.2-javase-macosx.dmg
        # cmake ../ -DCMAKE_PREFIX_PATH=~/opensim-core -DANT_ARGS="-Dnbplatform.default.netbeans.dest.dir=/Applications/NetBeans/Apache NetBeans 11.2.app/Contents/Resources/NetBeans/netbeans;-Dnbplatform.default.harness.dir=/Applications/NetBeans/Apache NetBeans 11.2.app/Contents/Resources/NetBeans/netbeans/harness"
        cmake ../ -DCMAKE_PREFIX_PATH=~/opensim-core -DANT_ARGS="-Dnbplatform.default.netbeans.dest.dir=/Applications/NetBeans/NetBeans 8.2.app/Contents/Resources/NetBeans;-Dnbplatform.default.harness.dir=/Applications/NetBeans/NetBeans 8.2.app/Contents/Resources/NetBeans/harness"
        make CopyOpenSimCore
        make PrepareInstaller
        # Read the value of the cache variable storing the GUI build version.
        VERSION=`cmake -L . | grep OPENSIMGUI_BUILD_VERSION | cut -d "=" -f2`
        echo $VERSION
        echo "::set-env name=VERSION::$VERSION"
        echo "::set-output name=version::$VERSION"
        cd $GITHUB_WORKSPACE
        ls Gui/opensim/dist
        mv Gui/opensim/dist/OpenSim-$VERSION.pkg $GITHUB_WORKSPACE
    - name: Upload GUI installer
      uses: actions/upload-artifact@v1.0.0
      with:
        name: OpenSim-${{ steps.build-gui.outputs.version }}-mac
        path: OpenSim-${{ steps.build-gui.outputs.version }}.pkg

  ubuntu:
    name: Ubuntu

    runs-on: ubuntu-18.04

    steps:
    - name: Install opensim-core
      run: |
        wget https://prdownloads.sourceforge.net/myosin/opensim-core/opensim-core-latest_linux_Release.zip
        # -q: quiet
        unzip -q opensim-core-latest_linux_Release.zip -d ~
    - name: Checkout opensim-gui
      uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install Netbeans
      run: |
        wget https://download.netbeans.org/netbeans/8.2/final/bundles/netbeans-8.2-javase-linux.sh
        chmod 755 netbeans-8.2-javase-linux.sh
        ./netbeans-8.2-javase-linux.sh --silent

    - name: Update submodules
      run: git submodule update --init --recursive -- opensim-models opensim-visualizer Gui/opensim/threejs

    - name: Build GUI
      id: build-gui
      run: |
        mkdir build
        cd build
        cmake ../ -DCMAKE_PREFIX_PATH=~/opensim-core -DANT_ARGS="-Dnbplatform.default.netbeans.dest.dir=~/netbeans-8.2;-Dnbplatform.default.harness.dir=~/netbeans-8.2/harness"
        make CopyOpenSimCore
        make PrepareInstaller
        # Read the value of the cache variable storing the GUI build version.
        VERSION=`cmake -L . | grep OPENSIMGUI_BUILD_VERSION | cut -d "=" -f2`
        echo $VERSION
        echo "::set-env name=VERSION::$VERSION"
        echo "::set-output name=version::$VERSION"
        cd $GITHUB_WORKSPACE
        ls Gui/opensim/dist
        mv Gui/opensim/dist/OpenSim-$VERSION.tar.gz $GITHUB_WORKSPACE
    - name: Upload GUI installer
      uses: actions/upload-artifact@v1.0.0
      with:
        name: OpenSim-${{ steps.build-gui.outputs.version }}-linux
        path: OpenSim-${{ steps.build-gui.outputs.version }}.tar.gz
